<!-- Top Bar -->
<section id="" class="p-3 text-white" style="background-color:rgb(16, 27, 27);">
  <div class="container">
    <div class="row">
      <div class="col-md-4"><style>
        .logo1{
               width: 40%;
               border-radius:60%;
               height:140px;
        }
      </style>
      <p> <img  class="logo1"  src="/static/img/Fish Sandwich.png"  /></p></div>
      <div class="col-md-4">
        <p style="font-size: 30px;" ><b style="color: rgb(14, 145, 165);">Duka Online</b></p>
        <p class="lead" style="font-size: 15px;"><b>Welcome to Duka Onllne</b></p>
      </div>
      <div class="col-md-4">
        <div class="social text-right">
          <a href="#"> <i class="fab fa-twitter text-white"></i> </a>
          <a href="#"> <i class="fab fa-facebook text-white"></i> </a>
          <a href="#"> <i class="fab fa-linkedin text-white"></i> </a>
          <a href="#"> <i class="fab fa-instagram text-white"></i> </a>
          <a href="#"> <i class="fab fa-pinterest text-white"></i> </a>
        </div>
      </div>
    </div>
  </div>
</section>
